.container {
  display: flex;
  gap: 0px;
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  border-radius: 6px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 10px;
}
.imgContainer {
  width: 100%;
}
.imgContainer img {
  width: 100%;
  height: 100%;
}
.icon {
  height: 50px;
}
