.Header{
    background-repeat: repeat;
    margin: 0 auto;
    background-image: url(../../../public/img/eventpageImg/ImageAboutHeader.png);
    background-color: rgba(0, 0, 0, 0.65); 
    background-blend-mode: darken;

}


.paragra{
    width: 50%;
    margin: auto;
}

 .paragraOfH{
text-align: center;
 color:white;
}

.paragraOfP{
    text-align: center;
 color: rgb(255, 255, 255);
}

.finds{
    width: 80%;
    /* margin-left: 300px; */
    margin: auto;
    padding: 1rem;
   
}

/* .card-title{
    text-align: left;
}
*/
.changeEvant{
    margin-top: 9%;
}  